.progress-bar-comp {
  display: flex;
  flex-direction: column;
}

.progress-line {
  display: flex;
  align-items: center;
}

progress[value] {
  flex-grow: 1;
  margin-right: 0.5rem;
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid gray;
}

progress[value]::-webkit-progress-bar {
  border-radius: 5px 0 0 5px;
  background: white;
  height: 10px;
  border: none;
}

progress[value]::-webkit-progress-value {
  border-radius: 4px 0 0 4px;
  background: var(--valColor);
  height: 8px;
  border: none;
}
